################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/mjc.amountconverter.client/obj
/Mjc.MoneyConverter.Server/bin
/.vs/Mjc.MoneyConverter/DesignTimeBuild/.dtbcache.v2
/.vs/Mjc.MoneyConverter/v17/.futdcache.v2
/.vs/Mjc.MoneyConverter/v17/.suo
/.vs/Mjc.MoneyConverter/v17/DocumentLayout.json
/.vs/ProjectEvaluation/jpc.amountconverter.metadata.v7.bin
/.vs/ProjectEvaluation/jpc.amountconverter.projects.v7.bin
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/apphost.exe
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/Mjc.MoneyConverter.Server.AssemblyInfo.cs
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/Mjc.MoneyConverter.Server.AssemblyInfoInputs.cache
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/Mjc.MoneyConverter.Server.assets.cache
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/Mjc.MoneyConverter.Server.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
*.txt
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/Mjc.MoneyConverter.Server.GeneratedMSBuildEditorConfig.editorconfig
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/spa.proxy.json
/Mjc.MoneyConverter.Server/obj/Mjc.MoneyConverter.Server.csproj.nuget.dgspec.json
/Mjc.MoneyConverter.Server/obj/project.assets.json
/Mjc.MoneyConverter.Server/obj/project.nuget.cache
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/ref
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/refint
/Mjc.MoneyConverter.Server/obj/Debug/net8.0/staticwebassets
/Mjc.MoneyConverter.Server/obj/Debug/net8.0
package-lock.json
