<div>
  <h1>Mary Jane Carlos</h1>
</div>

<!-- API Backend -->
<!-- Deleted weather forecast controller-->
<!-- Added new API MoneyController-->
<!-- Added additional class library 'Mjc.MoneyConverter.Service' layer for the service application-->
<!-- Added Service and Interface for the processing of API logic-->
<!-- Added Additional Layer for Models -- Mjc.MoneyConverter.Models-->
<!-- Added Added Model to use for the service and interface-->
<!-- Added Constants for the static string arrays, these arrays are used in the The ConvertToWords method likely uses these arrays to construct the appropriate word based on the digits of the input number. -->
<!-- Added endpoint API to handle requests to convert a monetary amount to words asynchronously.-->
<!-- Added asynchronous method in C# that uses a switch expression to convert a number into its word representation.-->
<!-- Added asynchronous method in C# that uses a switch expression to convert a number into its word representation.-->
<!-- Injected the created Interface and Service to the program cs -->
<!-- Front End -->
<!-- Update Angular version from 16 - 17 using this command ==> ng update @angular/core@17 @angular/cli@17 -->
<!-- Update Angular version from 17 - 18 using this command ==> ng update @angular/core@18 @angular/cli@18 -->
<!-- Created a new component by executing this command to the terminal--- 'ng generate component money-input' =====> this will hold the input of the money value -->
<!-- Created a new component by executing this command to the terminal--- 'ng generate component money-converter' =====> this will display the converter word from the entered numeric value -->




<router-outlet></router-outlet>
