<div>
  <h1>Mary Jane Carlos</h1>
</div>
<!-- Deleted weather forecast controller-->
<!-- Added new API MoneyController-->
<!-- Added additional class library 'Mjc.MoneyConverter.Service' layer for the service application-->
<!-- Added Service and Interface for the processing of API logic-->
<!-- Added Additional Layer for Models -- Mjc.MoneyConverter.Models-->
<!-- Added Added Model to use for the service and interface-->
<!-- Added Constants for the static string arrays, these arrays are used in the The ConvertToWords method likely uses these arrays to construct the appropriate word based on the digits of the input number. -->
<!-- Added endpoint API to handle requests to convert a monetary amount to words asynchronously.-->
<!-- Added asynchronous method in C# that uses a switch expression to convert a number into its word representation.-->


<router-outlet></router-outlet>
